html{height:100%;width:100%}body{background-color:#68A4CC;padding:0;font-size:1.6em;height:100%;width:100%;font-family:'Montserrat', sans-serif}h1,h2,h3,h4,h5{font-family:'Montserrat', sans-serif}section.social-media{min-height:20%}.accent-section{background-color:#68a4cc;color:#fff;padding-bottom:3em}.accent-section .social-icons a{color:#fff;font-size:2em;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-o-transition:all 0.1s linear;transition:all 0.1s linear}.accent-section .social-icons a:hover{color:rgba(255,255,255,0.7)}.social-icons a{text-decoration:none;padding:10px;font-size:100%}.btn{-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-moz-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);text-transform:uppercase;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;position:relative;top:0;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-o-transition:all 0.1s linear;transition:all 0.1s linear}.btn:hover{top:1px;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19);box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19)}.btn i{color:inherit;margin-right:0.5em}.btn a{color:inherit;text-decoration:none}.btn.btn-fb{color:#333;background-color:#fff;border-color:#ccc}.btn.btn-accent{font-size:1.2em;color:#fff;background-color:#68a4cc;border-color:#68a4cc}.btn.btn-accent:active,.btn.btn-accent:focus{background-color:#68a4cc;margin-color:#68a4cc}.btn.btn-accent:hover{background-color:#7bafd2;border-color:#7bafd2}header{padding-top:4em;padding-bottom:4em;width: 100%;}.centered{padding-top:4em;padding-bottom:4em;top: 50%;transform: translateY(-50%);position: absolute;width: 100%;}header img.logo{width:50%;margin-left:auto;margin-right:auto;display:block}header img.logo,header .lead,header .btn{margin-bottom:2em}header div.panel{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}header div.panel .panel-body{border:1px #68a4cc;padding:10px 20px}header div.panel p{font-size:14px}header p.lead{font-size:18px;text-align:center}footer{position:fixed;bottom:0;padding-top:2em;width:100%;background-color:#FAFAFA;}footer p{color:#666;opacity:0.5;font-size:70%}footer .row{margin-bottom:10px}footer a{opacity:0.5;color:#666;-webkit-transition:0.5s ease;-moz-transition:0.5s ease;-o-transition:0.5s ease;transition:0.5s ease;font-size:70%}footer a:hover{opacity:0.9;color:#666}footer a:active,footer a:focus{color:#666;opacity:0.5}footer .text-imp{color:#000;text-transform:uppercase;text-decoration:none;opacity:0.9;font-size:100%}footer .text-imp:active,footer .text-imp:focus{color:#000;opacity:0.9}.white-text{color:#fff}section{padding:2em 0}section.events{background:rgba(0,0,0,0.85)}section.events h2{padding-bottom:30px}section.events div.panel{-webkit-box-shadow:1px 5px 8px 1px rgba(0,0,0,0.19);-moz-box-shadow:1px 5px 8px 1px rgba(0,0,0,0.19);box-shadow:1px 5px 8px 1px rgba(0,0,0,0.19);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;height:275px;position:relative;top:0;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-o-transition:all 0.1s linear;transition:all 0.1s linear;border:0}section.events div.panel .panel-body{padding:10px;height:100px;font-size:14px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;overflow:auto}section.events div.panel .panel-body p{overflow:auto;height:100px;margin:0}section.events div.panel .past-text{position:absolute;display:none;font-size:0.7em;right:0px;z-index:10;background:rgba(51,51,51,0.8);color:white;padding:5px;padding-left:10px;-webkit-border-radius:0 0 0 3px;-moz-border-radius:0 0 0 3px;border-radius:0 0 0 3px}section.events div.panel .panel-heading{padding:0;height:150px;background-color:#5599c6;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}section.events div.panel .panel-heading img{position:relative;object-fit:cover;height:150px;width:100%;filter:brightness(60%) grayscale(20%)}section.events div.panel .panel-heading img.light_background{filter:grayscale(20%)}section.events div.panel .panel-heading h1,section.events div.panel .panel-heading h2,section.events div.panel .panel-heading h3,section.events div.panel .panel-heading h4{position:absolute;top:0px;z-index:10;text-transform:uppercase;padding:10px;color:#fff}section.events div.panel .panel-heading h1.light_background,section.events div.panel .panel-heading h2.light_background,section.events div.panel .panel-heading h3.light_background,section.events div.panel .panel-heading h4.light_background{color:black}section.events div.panel .panel-footer{text-align:right;font-size:11px;font-family:"Roboto", Helvetica, sans-serif;font-style:italic;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}section.events div.panel:hover{position:relative;top:1px;box-shadow:1px 1px 3px 1px rgba(0,0,0,0.19);filter:brightness(95%)}section.events div.panel.past .past-text{display:inline}section.events a.event-url{color:black}section.events a.event-url:hover,section.events a.event-url:active,section.events a.event-url:focus{text-decoration:none}section.events .calendar{margin:0 auto;width:320px}section.events .margin-top{padding-top:20px}section.events .margin-bottom{padding-bottom:20px}@media (max-width: 768px){.text-center-xs{text-align:center}header{padding-top:2em}}.center{align-items:center;display:flex;margin-bottom:35px}.right{text-align:right !important;display:flex;margin-right:-5%}.left{text-align:left !important;display:flex;margin-left:-5%}.events-switch{margin-left:5%}.switch{position:relative;display:inline-block;width:60px;height:34px;margin:0 auto}.switch input{opacity:0;width:0;height:0}.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#68a4cc;-webkit-transition:.4s;transition:.4s}.slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:white;-webkit-transition:.4s;transition:.4s}input:checked+.slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px)}.slider.round{border-radius:34px}.slider.round:before{border-radius:50%}.label-text{color:#fff;width:100%;opacity:0.7}.white{color:#FAFAFA;}.title{margin-bottom:20px;}.paragraph{margin-bottom:25px;}.link-white{color:white;text-decoration:none;}.link-white:hover,.link-white:active{color:white;text-decoration:none;}.bold{font-weight:600;}.submission-form input[type=text]{outline: none;border: 2px solid #FAFAFA;background-color:#FAFAFA00;color: #FAFAFA;min-width:75%;padding:5px;}
.submission-form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FAFAFA;
  opacity: 0.75; /* Firefox */
}

.submission-form input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FAFAFA;
}

.submission-form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: #FAFAFA;
}



.submission-form input[type=checkbox]{opacity:0;margin-left: 0;

z-index: 10;height: 10px;

width: 10px;cursor: pointer;    
    }.checkbox label {
    position: relative;
    display: inline-block;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;font-size: 12px;
cursor: auto;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 10px;
    width: 10px;
    
    border: 1.75px solid #FAFAFA;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 4px;
    width: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 2px;
    top: 5px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.submission-form input[type=submit]{background-color: #FAFAFA;

border: none;

color: #68A4CC;

padding: 5px 15px;

text-transform: uppercase;margin-top:10px;}.text-center{text-align:center;}.submission-form{margin-top:50px;}
.margin-0{margin:0;}
.margin-top-only{margin:15px 0 0 0;}
